<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sinatra App</title>
    <%= stylesheet_tag 'app', :expand => settings.development? %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_tag 'app', :expand => settings.development? %>
  </body>
</html>
